/**
    Global Table decleration
    @author Michael Makina
    https://mmakina.online
**/
.table{

}
.table_header{

}
.table_header_row{

}
.table_header_data{
    padding:15px 15px 15px 15px;
}
.table_body{

}
.table_body_row{

}
.table_body_data{
    padding:15px 15px 15px 15px;
    text-align: center;
}

